#root { 
	-fx-padding: 10.0px; 
	} 
	
.labeled {
	-fx-text-alignment: center; 
}	

/* .list-cell {
  -fx-font: 10.0pt "Arial";
  -fx-alignment: center ;
}	*/

.priorityHigh { 
  -fx-control-inner-background: palevioletred;
  -fx-accent: derive(-fx-control-inner-background, -40.0%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20.0%);
  
}

.priorityHigh .text {
  -fx-fill: black;
}

.done .text {
	-fx-strikethrough: true;
	-fx-fill: grey;	
}

.priorityMiddle { 
  -fx-control-inner-background: palegreen;
  -fx-accent: derive(-fx-control-inner-background, -40.0%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20.0%);
}