#root { 
	-fx-padding: 10.0px; 
	} 
	
.list-cell {
  -fx-font: 10.0pt "Arial";
  -fx-alignment: center ;
}	

 /* .priorityHigh {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}*/
.priorityHigh { 
  -fx-control-inner-background: palevioletred;
  -fx-accent: derive(-fx-control-inner-background, -40.0%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20.0%);
  
}

.priorityHigh .text {
  -fx-fill: black;
}

.done .text {
	-fx-strikethrough: true;
	-fx-fill: grey;	
}
.priorityLow { 
  -fx-control-inner-background: palegreen;
  -fx-accent: derive(-fx-control-inner-background, -40.0%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20.0%);
}