/* @@author A0115448E */
#root { 
	-fx-padding: 10.0px; 
	} 
	
.labeled {
	-fx-text-alignment: center; 
}	

.table-cell {
  -fx-font: 10.0pt "Arial";
  -fx-alignment: center ;
}	

.clash { 
  -fx-control-inner-background: violet;
  -fx-accent: derive(-fx-control-inner-background, -40.0%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20.0%);
  
}


.priorityHigh .text {
  -fx-fill: red;
}

.priorityMed .text {
  -fx-fill: green;
}

.done .text {
	-fx-strikethrough: true;
	-fx-fill: gray;
}

.txtFlow {
	-fx-font-size: 30;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-background-color: white;
	-fx-border-color: lightgrey;
}

.listView .text {
	-fx-font-size: 15;
}

.table {
	-fx-padding: -2em 0;
}

.overdue {
	/*-fx-control-inner-background: goldenrod;*/
	
	-fx-background-image: url("./exclamation.png");
	-fx-background-size: 20 25;
	-fx-background-repeat: stretch; 
	-fx-background-position: 235 center;
}

.overdue .text {
	 -fx-font-weight: bold;
	 -fx-font-style:italic; 
}

.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}

.haveNotes  {
	-fx-background-image: url("./asterisk.png");
	-fx-background-size: 15 15;
	-fx-background-repeat: stretch; 
	-fx-background-position: 485 center;
}

.alarm{
	-fx-background-image: url("./alarm.png");
	-fx-background-size: 15 15;
	-fx-background-repeat: stretch; 
	-fx-background-position: 470 center;
}

.overdueHaveNotes {
	-fx-background-image: url("./exclamation.png"), url("./asterisk.png");
	-fx-background-size: 20 25, 15 15;
	-fx-background-repeat: stretch; 
	-fx-background-position: 235 center, 485 center;
}

.alarmOverdue{
	-fx-background-image: url("./exclamation.png"), url("./alarm.png");
	-fx-background-size: 20 25,15 15;
	-fx-background-repeat: stretch; 
	-fx-background-position: 235 center, 470 center;
}

.alarmHaveNotes{
	-fx-background-image: url("./alarm.png"), url("./asterisk.png");
	-fx-background-size: 15 15;
	-fx-background-repeat: stretch; 
	-fx-background-position: 470 center, 485 center;
}

.alarmOverdueHaveNotes{
	-fx-background-image: url("./exclamation.png"),url("./alarm.png"), url("./asterisk.png");
	-fx-background-size: 20 25, 15 15, 15 15;
	-fx-background-repeat: stretch; 
	-fx-background-position: 235 center, 470 center, 485 center;
}

.countdown {
	-fx-background-image: url("./countdown.jpg");
	-fx-background-size: 250 260;
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
}

.time1 {
	-fx-font-size: 29;
	-fx-font-weight: 900;
	-fx-font-family: 'Brush Script MT', cursive;
}

.time2 {
	-fx-font-size: 23;
	 -fx-font-weight: bold;
	-fx-font-family: 'Brush Script MT', cursive;
}